.calculatar{
    height:812px;
    width:375px;
    background:black;
    padding-top:11%;
    box-sizing:border-box;
}
.container{
    padding:0px 5px;
    box-sizing:border-box;
}
.number{
    color:white;
    font-size:93.75px;
    text-align:right;
    padding-right:16px;
}
.button{
    font-size:30px;
    height:93.75px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    float:left;
    width:calc(100%/4);
    box-sizing:border-box;
    border:solid 5px black;
}
.gray{
    color:black;
    background:#DDDDDD;
}
.yellow{
    color:white;
    background:#FFA500;
}
.black{
    color:white;
    background:#555555;
}
.button0{
    width:50%;
    height:93.75px;
    border-radius:25%/50%;
    line-height: 93.75px;
    float:left;
    box-sizing:border-box;
    font-size:30px;
    border:solid 5px black;
    padding-left:30px;
}